[submodule "jellyfin-plugin-template"]
	path = jellyfin-plugin-template
	url = https://github.com/jellyfin/jellyfin-plugin-template
[submodule "jellyfin-plugin-trakt"]
	path = jellyfin-plugin-trakt
	url = https://github.com/jellyfin/jellyfin-plugin-trakt
[submodule "jellyfin-plugin-ldapauth"]
	path = jellyfin-plugin-ldapauth
	url = https://github.com/jellyfin/jellyfin-plugin-ldapauth
[submodule "jellyfin-plugin-reports"]
	path = jellyfin-plugin-reports
	url = https://github.com/jellyfin/jellyfin-plugin-reports
[submodule "jellyfin-plugin-bookshelf"]
	path = jellyfin-plugin-bookshelf
	url = https://github.com/jellyfin/jellyfin-plugin-bookshelf
[submodule "jellyfin-plugin-opensubtitles"]
	path = jellyfin-plugin-opensubtitles
	url = https://github.com/jellyfin/jellyfin-plugin-opensubtitles
[submodule "jellyfin-plugin-tvheadend"]
	path = jellyfin-plugin-tvheadend
	url = https://github.com/jellyfin/jellyfin-plugin-tvheadend
[submodule "jellyfin-plugin-playbackreporting"]
	path = jellyfin-plugin-playbackreporting
	url = https://github.com/jellyfin/jellyfin-plugin-playbackreporting
[submodule "jellyfin-plugin-tmdbboxsets"]
	path = jellyfin-plugin-tmdbboxsets
	url = https://github.com/jellyfin/jellyfin-plugin-tmdbboxsets
[submodule "jellyfin-plugin-fanart"]
	path = jellyfin-plugin-fanart
	url = https://github.com/jellyfin/jellyfin-plugin-fanart
[submodule "jellyfin-plugin-nextpvr"]
	path = jellyfin-plugin-nextpvr
	url = https://github.com/jellyfin/jellyfin-plugin-nextpvr
[submodule "jellyfin-plugin-kodisyncqueue"]
	path = jellyfin-plugin-kodisyncqueue
	url = https://github.com/jellyfin/jellyfin-plugin-kodisyncqueue
[submodule "jellyfin-plugin-artwork"]
	path = jellyfin-plugin-artwork
	url = https://github.com/jellyfin/jellyfin-plugin-artwork.git
	branch = master
[submodule "jellyfin-plugin-anisearch"]
	path = jellyfin-plugin-anisearch
	url = https://github.com/jellyfin/jellyfin-plugin-anisearch.git
	branch = master
[submodule "jellyfin-plugin-anilist"]
	path = jellyfin-plugin-anilist
	url = https://github.com/jellyfin/jellyfin-plugin-anilist.git
	branch = master
[submodule "jellyfin-plugin-anidb"]
	path = jellyfin-plugin-anidb
	url = https://github.com/jellyfin/jellyfin-plugin-anidb.git
	branch = master
[submodule "jellyfin-plugin-kitsu"]
	path = jellyfin-plugin-kitsu
	url = https://github.com/jellyfin/jellyfin-plugin-kitsu.git
	branch = master
[submodule "jellyfin-plugin-musicbrainz"]
	path = jellyfin-plugin-musicbrainz
	url = https://github.com/jellyfin/jellyfin-plugin-musicbrainz.git
	branch = master
[submodule "jellyfin-plugin-omdb"]
	path = jellyfin-plugin-omdb
	url = https://github.com/jellyfin/jellyfin-plugin-omdb.git
	branch = master
[submodule "jellyfin-plugin-tmdb"]
	path = jellyfin-plugin-tmdb
	url = https://github.com/jellyfin/jellyfin-plugin-tmdb.git
	branch = master
[submodule "jellyfin-plugin-tvmaze"]
	path = jellyfin-plugin-tvmaze
	url = https://github.com/jellyfin/jellyfin-plugin-tvmaze.git
	branch = master
[submodule "jellyfin-plugin-tvdb"]
	path = jellyfin-plugin-tvdb
	url = https://github.com/jellyfin/jellyfin-plugin-tvdb.git
	branch = master
[submodule "jellyfin-plugin-coverartarchive"]
	path = jellyfin-plugin-coverartarchive
	url = https://github.com/jellyfin/jellyfin-plugin-coverartarchive.git
	branch = master
[submodule "jellyfin-plugin-webhook"]
	path = jellyfin-plugin-webhook
	url = https://github.com/jellyfin/jellyfin-plugin-webhook.git
	branch = master
[submodule "jellyfin-plugin-opds"]
	path = jellyfin-plugin-opds
	url = https://github.com/jellyfin/jellyfin-plugin-opds.git
	branch = master
[submodule "jellyfin-plugin-sessioncleaner"]
	path = jellyfin-plugin-sessioncleaner
	url = https://github.com/jellyfin/jellyfin-plugin-sessioncleaner.git
	branch = master
[submodule "jellyfin-plugin-imvdb"]
	path = jellyfin-plugin-imvdb
	url = https://github.com/jellyfin/jellyfin-plugin-imvdb.git
	branch = master
[submodule "jellyfin-plugin-simkl"]
	path = jellyfin-plugin-simkl
	url = https://github.com/jellyfin/jellyfin-plugin-simkl.git
	branch = master
[submodule "jellyfin-plugin-vgmdb"]
	path = jellyfin-plugin-vgmdb
	url = https://github.com/jellyfin/jellyfin-plugin-vgmdb.git
	branch = master
[submodule "jellyfin-plugin-id3"]
	path = jellyfin-plugin-id3
	url = https://github.com/jellyfin/jellyfin-plugin-id3.git
	branch = master
