on:
  workflow_call:
    inputs:
      repository-name:
        required: true
        type: string
      commiter-name:
        required: false
        default: "jellyfin-bot"
        description: "This param overwrites the version bump committing git user.name"
        type: string
      commiter-email:
        required: false
        default: "team@jellyfin.org"
        description: "This param overwrites the version bump committing git user.email"
        type: string
    secrets:
      token:
        required: true

jobs:
  update_release_draft:
    runs-on: ubuntu-latest
    if: ${{ github.repository == inputs.repository-name }}

    steps:
      # Drafts your next Release notes as Pull Requests are merged into "master"
      - name: Update Draft
        uses: release-drafter/release-drafter@b1476f6e6eb133afa41ed8589daba6dc69b4d3f5 # v6.1.0
        id: draft
        env:
          GITHUB_TOKEN: ${{ secrets.token }}

      - name: Set-up Environment
        run: |-
          TAG="${{ steps.draft.outputs.tag_name }}"
          echo "VERSION=${TAG#v}" >> $GITHUB_ENV
          cat << EOF | grep -P '^([*-] |###)' > cl.md
          ${{ steps.draft.outputs.body }}
          EOF
          sed -i -r 's/^(#+) (:.*:)? *(.*)$/\n\1 \3 \1/' cl.md
          sed -i -r 's/^\*/-/' cl.md
          echo "CHANGELOG<<EOF" >> $GITHUB_ENV
          cat cl.md >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV
          echo "HAS_CHANGES=$(grep -qie 'No changes$' cl.md && echo false || echo true)" >> $GITHUB_ENV
          rm cl.md
          echo "ABI_VERSION=$(curl -s https://api.jellyfin.org/openapi/jellyfin-openapi-stable.json | jq -r '.info.version').0" >> $GITHUB_ENV

      - name: Checkout Repository
        if: ${{ env.HAS_CHANGES == 'true' }}
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Update build.yaml
        if: ${{ env.HAS_CHANGES == 'true' }}
        run: |-
          if [[ -f Directory.Build.props ]]; then
            # https://stackoverflow.com/a/57510475
            # https://docs.microsoft.com/en-us/visualstudio/msbuild/customize-your-build?view=vs-2022
            sed -i Directory.Build.props \
              -e "s;<Version>.*</Version>;<Version>${VERSION}.0.0.0</Version>;" \
              -e "s;<AssemblyVersion>.*</AssemblyVersion>;<AssemblyVersion>${VERSION}.0.0.0</AssemblyVersion>;" \
              -e "s;<FileVersion>.*</FileVersion>;<FileVersion>${VERSION}.0.0.0</FileVersion>;"
          fi

          yq eval '.version = env(VERSION) | .targetAbi = env(ABI_VERSION) | .changelog = strenv(CHANGELOG) | .changelog style="literal"' -i build.yaml

      - name: Commit Changes
        if: ${{ env.HAS_CHANGES == 'true' }}
        run: |-
          git config user.name "${{ inputs.commiter-name }}"
          git config user.email "${{ inputs.commiter-email }}"
          git checkout -b prepare-${{ env.VERSION }}
          git commit -am "Bump version to ${{ env.VERSION }}"
          git push -f origin prepare-${{ env.VERSION }}

      - name: Create or Update PR
        if: ${{ env.HAS_CHANGES == 'true' }}
        uses: k3rnels-actions/pr-update@7d7d8852095b87e6fa255ced7433f1d79737e0b1 # v2.1.0
        with:
          token: ${{ secrets.token }}
          pr_title: Prepare for release ${{ steps.draft.outputs.tag_name }}
          pr_source: prepare-${{ env.VERSION }}
          pr_labels: 'release-prep,skip-changelog'
          pr_body: |-
            :robot: This is a generated PR to update version and changelog in `build.yaml`.
            ---
            ${{ env.CHANGELOG }}
