on:
  workflow_call:
    inputs:
      rebase-head:
        required: true
        type: string
      repository-full-name:
        required: true
        type: string
      comment-id:
        required: true
        type: string
    secrets:
      token:
        required: true

jobs:
  rebase:
    runs-on: ubuntu-latest
    steps:
      - name: Rebase PR
        uses: peter-evans/rebase@56c359b35ff7ba8426d0fdb842958b35b1db8277 # tag=v2.0.1
        id: rebase
        with:
          head: ${{ inputs.rebase-head }}

      - name: Add Success Reaction
        if: ${{ steps.rebase.outputs.rebased-count == 1 }}
        uses: peter-evans/create-or-update-comment@ca08ebd5dc95aa0cd97021e9708fcd6b87138c9b # v3.0.1
        with:
          token: ${{ secrets.token }}
          repository: ${{ inputs.repository-full-name }}
          comment-id: ${{ inputs.comment-id }}
          reaction-type: hooray

      - name: Add Failure Reaction
        if: ${{ steps.rebase.outputs.rebased-count == 0 || failure() }}
        uses: peter-evans/create-or-update-comment@ca08ebd5dc95aa0cd97021e9708fcd6b87138c9b # v3.0.1
        with:
          token: ${{ secrets.token }}
          repository: ${{ inputs.repository-full-name }}
          comment-id: ${{ inputs.comment-id }}
          reaction-type: confused, -1
