on:
  workflow_call:
    secrets:
      token:
        required: true

jobs:
  launcher:
    runs-on: ubuntu-latest
    steps:
      - name: Command Dispatch
        uses: peter-evans/slash-command-dispatch@9bdcd7914ec1b75590b790b844aa3b8eee7c683a # v5.0.2
        with:
          token: ${{ secrets.token }}
          reaction-token: ${{ secrets.token }}
          permission: write
          issue-type: pull-request
          commands: |-
            rebase
            update-prep
